extends layout
block head
    link(type="text/css", rel="stylesheet", href="/global/css/global.css")
    link(type="text/css", rel="stylesheet", href="/assets/quiz/css/quiz.css")
    script(type="text/javascript", src="/assets/quiz/js/marking.js")
block body
    div.box
        - var index = 0;
        for q in questions
            - index ++
            div.question
                span.question-index #{index}.
                pre !{q.content}
                - if (q.remark)
                    pre.remark #{q.remark}
                - if (q.answer)
                    pre.answer #{q.answer}
    div.bar
        div.meta
            span 难度：P#{level}
            span 时间：#{time}m
            span 答卷人：#{name}(#{mobile} #{mail})
        a(href="#").btn-s.btn-s-blue.btn-print 打印
        a(href="#{backurl}").btn-s.btn-s-gray 返回
    div.marking-fix#J_MarkingFix
        div.marking-score
            label.label-score.label-toggle 成绩
            input.i-score#J_Score(type="text", placeholder="请输入分数", value="#{score}")
        div.marking-remark
            label.label-remark.label-toggle 备注
            textarea#J_Remark #{remark}
        button.btn-toggle <<
        button.btn-marking#J_Marking(data-i="#{_id}") 确　认
    script.
        KISSY.one(document).delegate("click", ".btn-print", function(e){
            window.print();
        });
        KISSY.use("quiz/email", function(S, Email) {
            S.one(document).delegate("click", ".btn-send", function(e){
                e.halt();
                var el = S.all(e.currentTarget),
                    email = prompt("请输入email:") || "";

                if (!email.match(/[-\w\.]+@\w+(?:(?:\.\w+)+)$/)) {
                    alert("email格式错误!");
                    return;
                }

                Email({
                    _id: el.attr("data-i"),
                    email: email,
                    complete: function(d) {
                        if (!d.success) {
                            alert("发送失败，请重试！");
                        }
                        else {
                            alert("发送成功！");
                        }
                    }
                });
            });
        });
