extends layout
block head
	link(type="text/css", rel="stylesheet", href="/global/css/global.css")
	link(type="text/css", rel="stylesheet", href="/assets/question/css/style.css")
	link(type="text/css", rel="stylesheet", href="/assets/question/css/form.css")
	script(type="text/javascript", src="/assets/question/js/form.js")
block body
	form.question-form#J_QuestionForm
		table
			tr
				th
					label(for="J_Content") 题目*
				td
					textarea#J_Content(name="content") #{c}
			tr
				th
					label 类型*
				td
					- each val in stationSetting.questionType
						span.td-item
							- if (type.indexOf(val.description) >= 0)
								input(id="#{val.name}",name="type", type="radio", value="#{val.description}", checked)
							- else
								input(id="#{val.name}",name="type", type="radio", value="#{val.description}")
							label(for="#{val.name}") #{val.description}
			tr
				th
					label 知识点*
				td
					- each val in stationSetting.skill
						span.td-item(data-tag=skill)
							- if (skill.indexOf(val.description) >= 0)
								input(id="#{val.name}skill",name="skill", type="checkbox", value="#{val.description}", checked)
							- else
								input(id="#{val.name}skill",name="skill", type="checkbox", value="#{val.description}")
							label(for="#{val.name}skill") #{val.description}
			tr
				th
					label 难度*
				td
					- each val in stationSetting.level
						span.td-item(data-tag=level)
							- if (level == val)
								input(id="#{val}level",name="level", type="radio", value="#{val}", checked)
							- else
								input(id="#{val}level",name="level", type="radio", value="#{val}")
							label(for="#{val}level") P#{val}
			tr
				th
					label(for="J_Time") 耗时*
				td
					input#J_Time(type="text", placeholder="5", name="time", value="#{time}")
					| 分钟
			tr
				th
					label(for="J_Remark") 答案分析
				td
					textarea.ta-remark#J_Remark(name="remark") #{remark}
			tr
				th
					label(for="J_From") 来源
				td
					input.i-text#J_From(type="text", name="from", value="#{from}")
			tr
				th
					label(for="J_Author") 出题人
				td
					input.i-text#J_Author(type="hidden", name="author", value="#{author}")
					input.i-text#J_AuthorNick(type="hidden", name="authorNick", value="#{authorNick}")
					span #{authorNick}
					- if (!_id)
						a.chuser(href="https://login.alibaba-inc.com/ssoLogout.htm?BACK_URL=#{url}") 更换账户
			tr
				th
				td
					- if (_id)
						input(name="_id", type="hidden", value="#{_id}")
						button.btn.btn-blue(type="submit") 编辑
					- else
						button.btn.btn-blue(type="submit") 添加
					a.btn.btn-gray(href="/question") 返回
